@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    height: 100vh;
    overflow: hidden;
    background: #000;
}

p {
    position: relative;
    font-size: 1.5em;
    letter-spacing: -0.05em;
    line-height: 0.7em;
    background: url(face.png);background-position-x: ;
}